@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3498db; /* Thumb (scroll handle) color */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2980b9; /* Thumb color on hover */
  }
  